body {
    height: 100%;

    background-image: url("https://wallpapercave.com/wp/wp2971942.jpg");
    background-size: 1920px 1080px;
    background-position: top;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
}

